
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
    font-family: NanumSquare;
  }
  
[data-tab-content] {
    display: none;
  }
  .whale {
      float:left;
  }
  .maintext {
      float:right;
  }

  
  .active[data-tab-content] {
    display: block;
  }
  

  body {
    padding: 0;
    margin: 0;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color : #FFFFFF;
    border-bottom: 1px solid #2DB400;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    color:#000000;
  }
  
  .tab.active {
    background-color: #2DB400;
  }
  
  .tab:hover {
    background-color: #2DB400;
  }
  
  .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  }