#container {
    background-color: red;
    overflow: hidden;
    width: auto;
  }
  
  #inner {
    overflow: hidden;
    width: 100%;
  }
  
  .buttonarea{
    float: left;
    background-color: blue;
    width: 52px;
    height: 52px;
  }
  .textarea{
    background-color: black;
    width: 100%;
    height: 52px;
  }
